<h1>Stupid Coaching</h1>
<p>Type a question to ask the coach:</p>
<form action= "answer" class ="form-qns">
  <label for="question">Ask a question:</label>
  <input type="text" name="question">
  <input type="submit" value="Ask!">
</form>
